/* 
    Created on : 18.04.2016, 22:59:42
    Author     : MAXIMUM13
*/

/*  */

/* ------------- Плавающее окно со списком чатов ------------- */

/* основное окно */
.fc_tab_wrap {
    width: 240px !important;
}

.fc_tab_close_wrap, .fc_tab_max_wrap, .fc_tab_resize_wrap, .fc_tab_pin_wrap {
    padding: 4px !important;
    margin-top: 5px !important;
    cursor: pointer !important;
}

.fc_tab_close, .fc_tab_max, .fc_tab_resize, .fc_tab_pin {
    display: block !important;
    width: 12px !important;
    height: 12px !important;
    opacity: .6 !important;
    transition: opacity .15s ease !important;
}

.fc_tab_resize_wrap {
    display: block !important;
    float: right !important;
    visibility: visible !important;
}

.fc_tab_wrap .fc_tab_resize {
    background-position: 0 -16px !important;
}

/* иконка с изображением пользователя */
img.fc_contact_photo {
    border-radius: 0 !important;
}

/* ***************************************************************** */

/* значок, указывающий на то, что пользователь находится в сети */

/* с компьютера */
span.fc_contact_photo.online:after {
    left: 210px !important;
    bottom: 15px !important;
    border-radius: 50px !important;
}

/* с мобильного устройства */
span.fc_contact_photo.online.mobile:after {
    left: 210px !important;
    bottom: 14px !important;
    border-radius: 0 !important;
    border: none !important;
    width: 8px !important;
    height: 12px !important;
}

/* ***************************************************************** */

/* шапка окна */
.fc_tab_head {
    background-color: blue !important;
}
